@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

.photoGallery{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:50px;
	color:rgba(0,51,51,1);
	text-align:center;
	font-weight:bold;
	text-shadow:5px 5px 10px #333333;
}
#gallery{
	
	margin:auto;
	width:800px;
	height:900px;
	padding:5px;
}
#thumbs{
	width:150px;
	height:150px;
	
	padding:5px;
	float:left;
	
}
#thumbs img{
	height:100%;
	width:100%;
}
.lightbox{
	visibility:hidden;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	background:rgba(72,73,74,.7);
	height:100%;
	width:100%;
}
.lightbox:target{
	visibility:visible;
	opacity:1;
	transition:opacity 2s;
}
#outer{
	background:#FFFFFF;
	width:min-content;
	
	margin:auto;
	margin-top:30px;
	box-shadow:0 0 35px black;
	padding:10px;
	border-radius:8px;
}
#inner{
	position:relative;
}
#inner img{
	max-height:500px;
	max-width:800px;
}
.lightbox a{
	text-decoration:none;
	font-size:20px;
	color:#333333;
}
#cross{
	
	float:right;
}
#next{
	font-weight:bold;
	float:right;
}
#prev{
	font-weight:bold;
}
#matter{
	
	background-color:#666666;
	color:white;
	padding:10px;
	font-size:22px;
	position:absolute;
	right:0;
	bottom:0;
	opacity:0;
	border-radius:5px;
}
.lightbox #inner:hover #matter{
	opacity:.8;
	transition:opacity 2s;
}
#title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
}



















